<a href="https://colab.research.google.com/github/fbrinadze/NJIT-Data-Science-Bootcamp/blob/main/Async_Project_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Asynchronous Project: Data Types**

Congratulations on making it to the end of Python Programming, Module 2: Data Types! Now that you know about all the data types Python has to offer, this worksheet will take you through each type's functionalities. Don't worry if you don't know every single data type. Use your previous knowledge from SQL and pre- and post-class activities to help you!

## **Part 1: Research Activity**

What is a "Boolean variable"? Where did the name "Boole" come from? Spend a few minutes doing some research on the origin of the name. 

*Simply double-click the below box and type your answer in the text box.*

Write your answer below:

Your answer here: ... It was named after George Boole.  George Boole was a 19th century mathmatician.

## **Part 2: Testing Data Types**

You will run the next few lines of code to complete a table of data types. Answer questions along the way!

Update the below table as you determine each data type. Replace each "..." with your answer.

| Code                                        | Data Type |
| ------------------------------------------- | --------- |
| print (type("University of Virginia"))      | String     |
| print (type("Madison"))                     | String     |
| print (type(2021))                          | Integer       |
| print (type(37.6))                          | Float       |
| print (type(True))                          | Bool       |
| print (type(False))                         | Bool      |

In [1]:
# Click the play button to run the cell and determine the outcome. 
print (type("University of Virginia"))

<class 'str'>

In [2]:
print (type("Madison"))

<class 'str'>

In [3]:
print (type(2021))

<class 'int'>

In [4]:
print (type(37.6))

<class 'float'>

In [5]:
print (type(True))

<class 'bool'>

What happens if we replace 'True' with 'true'? 

Type the same code with a lower case t for true.

In [6]:
# Insert your code below and run the snippet.
print (type(true))

NameError: ignored

NameError                                 Traceback (most recent call last)
<ipython-input-6-28020c49e541> in <module>()
      1 # Insert your code below and run the snippet.
----> 2 print (type(true))

NameError: name 'true' is not definedYour answer here: ...

In [ ]:
print (type(False))

# **Part 3: Trial and Error**

Complete the table by reading the expression and making a prediction about the data type. Then, run the command to print their data type and see how many you got right!

| Expression      | Data Type Prediction | Actual Data Type |
| --------------- | -------------------- | ---------------- |
| "Hi there"      | String                | String            |
| True            | Bool                  | Bool             |
| 25              | Integer                  | Integer              |
| 12.11           | Float                  | Float              |
| -273            | Integer                  | Integer              |
| "25"            | String                  | String              |
| "True"          | String                 | String              |
| False           | Bool                  | Bool              |
| .0005           | Float                  | Float              |

In [7]:
print (type("Hi there"))

<class 'str'>

The first code snippet was typed for you. Use the remaining cells to type your own code and run each cell. Don't forget to fill out the 'Actual Data Type' column in the table.

In [12]:
# True
print (type (True))

<class 'bool'>

In [13]:
# 25
print (type (25))

<class 'int'>

In [14]:
# 12.11
print (type(12.11))

<class 'float'>

In [15]:
# -273
print (type(-273))

<class 'int'>

In [ ]:
# "25"
...

In [16]:
# "True"
print (type("True"))

<class 'str'>

In [ ]:
# False
...

In [17]:
# .0005
print (type(.0005))

<class 'float'>